/* General Page Styles */
.login-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #003366; Deep Blue */
  background-color: #250044; /* Deep green */
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;  text-align: left!important;

}

.documentations {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(114, 114, 114);
  float: right;
}

.country-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.country-logo img {
  width: 100px!important;
  min-height: 80px;
  margin-right: 10px;
}

.country-name {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 230px;
}

.country-subname {
  font-size: 15px;
  font-weight:400;
  color: #fff;
  width: 230px;
}

/* Login Form Styles */
.login-form {
  background-color: #250044;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  color: #fff;
  margin: 200px 30px 0px 30px;

  width: 350px;
}

.login-header {
  text-align: center;
}

.login-header img {
  width: 120px; /* Size of app logo */
  /* margin-bottom: 30px; */
  text-align: center;
}

.login-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #250044;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  /* border: 1px solid #250044; */
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #250044;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-group input:focus {
  border-color: #250044;
  background-color: #fff;
  outline: none;
}

/* Login Button */
.login-button {
  /* width: 100px; */
  padding: 12px;
  background-color: #006633; /* Lighter Blue */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #019149; /* Darker Blue */
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
}


.fa-eye, .fa-eye-slash {
  color: black!important;
}


/* Responsive Design */
@media (max-width: 600px) {

  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group input {
    font-size: 14px;
  }

  .login-button {
    font-size: 14px;
  }

  .country-logo img {
    width: 30px;
    height: 30px;
  }
}
