/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Don't use this */
/* html,
body { */
  /* touch-action: none; */
  /* ❌ this disables pinch-to-zoom */
  /* font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  color: #333; */

  /* Empêche le "pull to refresh" vertical */
  /* overscroll-behavior-y: contain; */

  /* Pour bloquer toutes directions */
  /* overscroll-behavior: none; */

  /* Bloque le scroll vertical */
  /* touch-action: pan-x; */
/* } */

/* 
html, body {
  overscroll-behavior: none;
  touch-action: pan-x; 
  height: 100%;
  overflow: hidden;
} */

html, body {
  /* bloque le pull-to-refresh mais autorise le scroll vertical */
  overscroll-behavior-y: contain; 
  height: 100%;
  overflow-y: auto;
}

body.no-pull-to-refresh {
  overscroll-behavior-y: contain;
  touch-action: pan-x;
}

/* Style des champs */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


/* Style du bouton */
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: #eee;
  /* background: #0055aa; */
  color: #250044;
  ;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out !important;
}

.btn:hover {
  background: #ddd;
  /* background: #003366; */
}

.btn.disabled {
  opacity: 0.65 !important;
  pointer-events: none !important;
}

.btn-primary {
  background-color: #007bff !important;
  color: #fff !important;
  border: none !important;
  border-radius: 3px !important;
  padding: 10px 20px !important;
  font-size: 1rem !important;
  transition: background-color 0.3s ease-in-out !important;
}

.btn-primary:hover {
  background-color: #0056b3 !important;
}

.btn-secondary {
  background-color: #6c757d !important;
  color: #fff !important;
  border: none !important;
  border-radius: 3px !important;
  padding: 10px 20px !important;
  font-size: 1rem !important;
  transition: background-color 0.3s ease-in-out !important;
}

.btn-secondary:hover {
  background-color: #5a6268 !important;
}


/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-top: 10px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #003366;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease-in-out;
}

.table-bordered {
  border: 2px solid #ccc;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover td {
  color: #333;
  /* font-weight: bold; */
}

.table tbody tr td:first-child,
.first-element {
  font-weight: bold !important;
  /* background-color: #f0f0f0!important; */
  /* color: #333!important; */
  /* padding-left: 15px!important; */
  /* border-left: 3px solid #007bff!important; */
}



/* START MODAL */

.modal {
  display: none;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%, -0%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 90%;
  max-width: 500px;
  margin: 0;
  height: auto;

  /* height: 85vh;  */
  max-height: 85vh;
  /* Ensures it doesn't exceed the viewport height */
  overflow-y: auto;
  /* Enables vertical scrolling if content overflows */
}

/* Arrière-plan sombre */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Affichage du modal et overlay */
.modal.open,
.overlay.open {
  display: block;
}

.modal-container-content {
  text-align: center;
  padding: 15px;
  /* max-height: 850px;
  overflow-y: auto; */
}

body.modal-open {
  overflow: hidden;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

/* END MODAL */




.mb-0 {
  margin-bottom: 0 !important
}

.mb-1 {
  margin-bottom: .25rem !important
}

.mb-2 {
  margin-bottom: .5rem !important
}

.mb-3 {
  margin-bottom: 1rem !important
}

.mb-4 {
  margin-bottom: 1.5rem !important
}

.mb-5 {
  margin-bottom: 3rem !important
}

.mb-auto {
  margin-bottom: auto !important
}


.mb-0 {
  margin-top: 0 !important
}

.mb-1 {
  margin-top: .25rem !important
}

.mb-2 {
  margin-top: .5rem !important
}

.mb-3 {
  margin-top: 1.5rem !important
}

.mb-5 {
  margin-top: 3rem !important
}

.mb-auto {
  margin-top: auto !important
}



/* Overlay de fond semi-transparent */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1000; */
  z-index: 9999;
}

.absolute-fix-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border-radius: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  width: 90%;
  z-index: 1001;
  max-width: 500px;
}

/* Conteneur du modal */
.absolute-fix-modal-top {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 100%;
  background: white;
  padding: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  overflow: hidden;
  z-index: 1010;
  /* max-width: 500px; */
}

/* Animation du modal */
.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Contenu du modal */
.modal-content {
  padding: 5px;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  position: relative;
}


/* En-tête du modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17a2b8;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.modal-header .close {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Corps du modal */
.modal-body {
  padding: 5px;
  font-size: 14px;
  color: #333;
}

/* Champs d'entrée */
.modal-body input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Pied de page du modal */
.modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* background: #f8f9fa; */
  /* border-top: 1px solid #dee2e6; */
}

/* Pied de page du modal */
.modal-footer button {
  width: auto;
}

button {
  transition: all 0.3s ease;
}


button:disabled,
button[disabled] {
  background-color: #ccc;
  /* Gris clair */
  color: #666;
  /* Texte grisé */
  cursor: not-allowed;
  /* Curseur interdit */
  opacity: 0.6;
  /* Transparence pour montrer l'état désactivé */
  border: 1px solid #999;
  /* Bordure plus claire */
  box-shadow: none;
  /* Désactive les ombres pour un effet plat */
  pointer-events: none;
  /* Empêche tout événement de clic */
}


/* Icône de chargement */
.fa-sync-alt {
  margin-left: 8px;
}




/* Style pour le select */
select {
  background-color: white;
  color: #444;
  /* border: 1px solid #003366; */
  border: 1px solid #250044;
  padding: 8px;
}

/* Style de l'option sélectionnée */
select option {
  font-weight: bold;
  margin: 2px;
  padding: 2px;
  width: auto;
  border-radius: 5px;
  /* color: #003366; */
}

/* Style de l'option sélectionnée */
select option:checked {
  /* background-color: #003366; */
  /* background-color: #250044; */
  /* background-color: #0066cd; */
  /* color: white; */
  padding: 4px;
  /* font-weight: bold; */
  width: auto;
}


input:disabled,
textarea:disabled,
select:disabled {
  background-color: #f5f5f5 !important;
  color: #777 !important;
  /* border: 1px solid #ccc!important; */
  cursor: not-allowed !important;
  opacity: 0.6 !important;
  font-weight: 600 !important;
}

/* Optional: If inside a form group, make the label look disabled too */
label:has(+ input:disabled) {
  color: #aaa;
}



.rounded {
  border-radius: 5px !important
}

.rounded-0 {
  border-radius: 0 !important
}

.rounded-1 {
  border-radius: .2rem !important
}

.rounded-2 {
  border-radius: 5px !important
}

.rounded-3 {
  border-radius: .3rem !important
}

.rounded-circle {
  border-radius: 50% !important
}

.rounded-pill {
  border-radius: 50rem !important
}

.rounded-top {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important
}

.rounded-end {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important
}

.rounded-bottom {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important
}

.rounded-start {
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important
}

.visible {
  visibility: visible !important
}

.invisible {
  visibility: hidden !important
}