.big-container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {

  text-align: center;
  max-width: 600px;
  padding: 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.container:hover {
  transform: translateY(-10px);
}

h1 {
  font-size: 80px;
  margin: 0;
  color: #ff6347;
}

p {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

button {
  background-color: #ff6347;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #e53e3e;
}

.icon {
  font-size: 100px;
  color: #ff6347;
  margin-bottom: 20px;
}