<ng-container *ngIf="REPORTS_HEADER as h">
  <div class="orgunit-filter">
    <button 
      [disabled]="ON_ALL_FETCHING || ON_ALL_VALIDATION || ON_ALL_CANCEL_VALIDATION|| ON_ALL_DHIS2_SENDING"
      style="width: auto;" class="open-modal-button">
      🔍 Filtrer
      <span *ngIf="ON_ALL_FETCHING" class="fas fa-1x fa-sync-alt fa-spin"></span>
    </button>

    <button *ngIf="CAN_ALL_VALIDATE_REPORTS" style="width: auto!important;" [disabled]="ON_ALL_VALIDATION || ON_ALL_CANCEL_VALIDATION || ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2"
      (click)="IS_ALL_REPPORTS_VALIDATED ? CancelAllValidation($event) : ValidateAllReports($event)"
      class="submitBtn btn {{ IS_ALL_REPPORTS_VALIDATED ? 'btn-info' : 'btn-warning' }}">
      <span *ngIf="(ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2)">{{ 'Rapport déja validé' }}</span>

      <span *ngIf="!(ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2)">
        {{ IS_ALL_REPPORTS_VALIDATED ? 'Annuler toute validation' : 'Valider tous les rapport' }}
      </span>
      <span *ngIf="ON_ALL_VALIDATION || ON_ALL_CANCEL_VALIDATION" class="fas fa-1x fa-sync-alt fa-spin"></span>
    </button>

    <button *ngIf="CAN_ALL_VALIDATE_REPORTS && CAN_SEND_TO_DHIS2" [disabled]="ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2"
      style="width: auto;" class="btn btn-warning" (click)="openAllSendReportsToDhis2Modal($event)">
      {{ IS_ALL_ON_DHIS2 ? 'Déja envoyé au DHIS2' : 'Tout Envoyer Au DHIS2' }}
      <span *ngIf="ON_ALL_DHIS2_SENDING" class="fas fa-1x fa-sync-alt fa-spin"></span>
    </button>
  </div>

  
  <div id="overlay" class="overlay"></div>



  <!-- Modal de Filtrage -->
  <div id="modal-container" class="modal">
    <div class="modal-container-header">
      <span class="close">&times;</span>
      <h2>🔍 Filtrer les données</h2>
    </div>
    <div class="modal-container-content">
      <form [formGroup]="form" id="filterForm" (ngSubmit)="START_ORGUNIT_FILTER($event)" novalidate>

        <div *ngIf="Sites$.length > 1 && sites.length === 0 || sites.length > 1"
          class="form-group">
          <label for="site">
            Districts/Quartiers :({{ selectedLength('site') }})
            <input id="all-site" (change)="selectAll('site', $event)"
              [checked]="isChecked('site')" type="checkbox">
          </label>
          <select id="site" (change)="chwsGenerate()" class="form-control"
            multiple="{{ sites.length > 0 ? 'multiple' : '' }}" formControlName="site">
            <option *ngFor="let d of sites" [value]="d.id">
              {{ d.name }}
            </option>
          </select>
        </div>

        <div *ngIf="(Chws$.length > 1 && chws.length === 0) || chws.length > 1" class="form-group">
          <label for="chws">
            Chws :({{ selectedLength('chws') }})
            <input id="all-chws" (change)="selectAll('chws', $event)" [checked]="isChecked('chws')" type="checkbox">
          </label>
          <select id="chws" class="form-control" multiple="{{ chws.length > 0 ? 'multiple' : '' }}"
            formControlName="chws">
            <option *ngFor="let r of chws" [value]="r.id">
              {{ r.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label *ngIf="Years$.length > 0" for="year">
            Années :
            <!-- ({{ selectedLength('year') }})
          <input id="all-year" (change)="selectAll('year', $event)" [checked]="isChecked('year')" type="checkbox"> -->
          </label>
          <select id="year" class="form-control" formControlName="year" (change)="initMonths($event)">
            <ng-container *ngIf="Years$.length > 0">
              <option *ngFor="let y of Years$" [value]="y">
                {{ y }}
              </option>
            </ng-container>
          </select>

        </div>
        <div class="form-group">
          <label *ngIf="Months$.length > 0" for="months">
            Mois :({{ selectedLength('months') }})
            <input id="all-months" (change)="selectAll('months', $event)" [checked]="isChecked('months')"
              type="checkbox">
          </label>
          <select id="months" class="form-control" multiple="{{ Months$.length > 0 ? 'multiple' : '' }}" formControlName="months">
            <ng-container *ngIf="Months$.length > 0">
              <option *ngFor="let m of Months$" [value]="m.id">
                {{ m.labelFR }}
              </option>
            </ng-container>
          </select>
        </div>

        <button [disabled]="ON_ALL_FETCHING || !form.valid" id="modal-validate"
          class="btn btn-primary modal-validate">
          Appliquer le filtre
          <span *ngIf="ON_ALL_FETCHING" class="fas fa-1x fa-sync-alt fa-spin"></span>
        </button>
      </form>
    </div>
  </div>

</ng-container>