
.orgunit-filter {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.open-modal-button {
  background-color: white;
  /* color: #003366; */
  color: #250044;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #250044;
  border-radius: 5px;
  width: 120px;
  font-weight: bold;
}

.open-modal-button:hover {
  background-color: #0055aa;
  color: white;
}


.orgunit-style {
  background-color: white !important;
  color: black !important;
  padding: 0px 2px 0px 5px !important;
  border-radius: 3px !important;
  width: 130px !important;
}

.form-group label {
  font-weight: bold;
  color: #003366;
}

button {
  margin: 0px 10px 0px 10px;
}