body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  /* color: #34495e!important; */
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  color: #000000 !important;
}

h3,
h4,
h5,
h6,
p {
  color: #34495e !important;
}

h1 {
  /* font-size: 1.3em; */
  font-size: 1.8em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

p,
li {
  font-size: 1.1em;
}



header {
  background-color: #2c3e50;
  /* background-color: #0066cc; */
  /* color: white; */
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

header h3 {
  margin: 0;
  font-size: 2.0em !important;
  color: white !important;
}

nav {
  background-color: #34495e;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: #1abc9c;
  transition: 0.3s;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

section h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #1abc9c;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 10px;
  text-align: justify;
}

section ul {
  margin-bottom: 10px;
}

section ul li {
  margin-bottom: 5px;
}

.agenda table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.agenda table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #2c3e50;
  border-radius: 8px;
}

footer p {
  color: white !important;
}

.img {
  height: auto;
  display: block;
  margin: 10px 0;
}

.img1 {
  max-width: 10%;
}

.img1_5 {
  max-width: 15%;
}

.img2 {
  max-width: 20%;
}

.img2_5 {
  max-width: 25%;
}

.img3 {
  max-width: 30%;
}

.img4 {
  max-width: 40%;
}

.img5 {
  max-width: 50%;
}

.img6 {
  max-width: 60%;
}

.img7 {
  max-width: 70%;
}

.img8 {
  max-width: 80%;
}

.img9 {
  max-width: 90%;
}

.img10 {
  max-width: 100%;
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  header,
  footer,
  nav {
    display: none;
  }
}


/* ############################################### */



.hierarchy {
  max-width: 100%;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hierarchy p {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.level {
  max-width: 100%;
  border: 2px solid #0066cc;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}



.level .site {
  border: 2px solid #1abc9c;
  /* border: 2px solid #cc0081; */
}

.level .zone1 {
  /* border: 2px solid #1abc9c; */
  border: 2px solid #0080ff;
}

.level .zone2 {
  /* border: 2px solid #1abc9c; */
  border: 2px solid #cc0081;
}

.level .household {
  border: 2px solid #1abc9c;
  /* border: 2px solid #00b1cc; */
}


.children {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.representative {
  margin: 0;
  font-weight: bold;
}

.members {
  margin-top: 5px;
  padding-left: 10px;
  font-size: 1.0em;
}

.members div {
  margin: 2px 0;
}

.survey textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.survey button {
  background: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.survey button:hover {
  background: #3498db;
}


/* ############################################### */

label {
  font-size: 18px!important;
}

.label {
  font-weight: bold !important;
}

.question h1 {
  text-align: center !important;
  margin-bottom: 20px !important;
  color: #333 !important;
}

.question p {
  text-align: center !important;
  margin-bottom: 20px !important;
  color: #666 !important;
}

.question {
  margin-bottom: 30px !important;
  margin-left: 25px !important;
}

.question h2 {
  margin-bottom: 10px !important;
  font-size: 18px !important;
  color: #333 !important;
}

.question label {
  display: block !important;
  margin-bottom: 8px !important;
  font-size: 16px !important;
  color: #444 !important;
}

.question input[type="radio"] {
  margin-right: 10px !important;
}
