
.export-buttons {
  margin-bottom: 10px;
}

.export-buttons button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.export-buttons button:hover {
  background-color: #0055aa;
}

.validate-data {
  width: 350px !important;
  margin: 0px !important;
  display: inline-flex !important;
}

.validate-data button {
  margin: 0px 3px 0px 3px !important;
}

.validate-data {
  width: 350px !important;
  margin: 0px !important;
  display: inline-flex !important;
}

.validate-data button {
  margin: 0px 3px 0px 3px !important;
}



@media (max-width: 991px) {
  * {
      font-size: 13px !important;
  }
}